@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&family=Teko:wght@300;400&family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Open+Sans:wght@300&family=Pacifico&family=Teko:wght@300;400&family=Tinos:wght@700&display=swap');
.link{
  text-decoration: none;
  color: white;
  font-size: 17px;
  position: relative;
}
/* #background{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(147deg, #f9fcff 0%, #89b2de 74%);
  position: fixed;
  z-index: -1;
  top: 0px;
} */
body{
  background-color: #f9f8fd;
  overflow-x: hidden;
}
#logo{
  width: 40%;
}
.navbar{
  display: flex;
  width: 100vw;
  height: 15vh;
  align-items: center;
  gap: 5vw;
  background-color: #2a2438;
  color: white;
  padding-left: 5vw;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.date{
  color: var(--gray-9, #20252A);
margin-top: 40px;
 margin-bottom: 20px;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.datecon{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  flex-wrap: wrap;
  padding-left: 2vw;
  position: relative;
}

.word:hover{
  transform: scale(1.1);
  transition: all .2s ease-in;
}
.word{
  border: 1px solid var(--primary-2, #9CC3FF);
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 30px 50px;
  border-radius: 6px;
}

.wordheading{
  color: var(--gray-9, #20252A);
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.25px;
}

.wordFunc{
  border:none;
  border-radius: 4px;
background: var(--primary-0, #E5F4FF);
color: var(--primary-6, var(--Blue-primary, #0969FF));
font-size: 12px;
margin: 0px 4px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.5px;
padding: 4px 8px;
}
.wordInput{
  padding:10px 20px;
  width: 80%;
  border-radius: 6px; 
  border:1px solid #9CC3FF;
  font-size: 16px;
  color:#868E96;
  letter-spacing: 0.5px;
  margin-top: 40px;
}
.meaningInput{
  padding:10px 20px;
  width: 80%;
  border-radius: 6px; 
  border:1px solid #9CC3FF;
  font-size: 16px;
  color:#868E96;
  letter-spacing: 0.5px;
  height:20vh;
  margin-top: 40px;
}
.addButton{
  padding: 18px 48px;
  background: var(--Blue-primary, #0969FF);
  border-radius: 4px;
color: var(--White, #FFF);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.15px;
margin-top: 40px;
}
.mainCon{
  display: flex;
  flex-direction: row;
}
.wordMeaning{
  color: var(--gray-9, #20252A);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: 0.15px;
}
.exH{
  color: var(--gray-6, #868E96);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.5px;
}
.wordExapmle{
  color: var(--gray-9, #20252A);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: 0.15px;
}

